/* This file is for your main application css. */

/* Product details */
.sq-p-details{
	grid-area: 4 / 2 / span end / span 7;
	margin-top: 0.5em;
}
.sq-p-bildepanel{
	grid-area: 1 / 2 / span 3 / span 3;
	margin-right: 0.5em;
	margin-top: 0.5em;
}
.sq-p-logpanel{
	grid-area: 1 / 5 / span 3 /span 4;
	margin-top: 0.5em;
}
.sq-p-align-end{
	margin-top: auto;
	align-content: end;
}
.sq-p-price-card{
	display: flex;
	background-color: var(--background);
}
/* Bjørn og Thomas Shoppingcart */
.sq-align-items-center{align-items:center;}
.sq-align-items-end{align-items:flex-end;}

.sq-item-card{
  width:7rem;
  height:7rem;
  max-width: 7rem;
  max-height: 7rem;
  border:1px solid black;
  margin-bottom: 0.5em;
  }
  .sq-flex-row{
    display:flex;
    flex-direction:row;
  }

  .sq-flex-column-s{
    display:flex;
    flex-direction:column;
  }

/* ShoppingCart styling */
.sq-shoppingcart-pic{
	width: 12rem;
	display: flex;
}
.sq-shoppingcart-card{
  width:25rem;
  height:10rem;
  background-color: var(--background);
  margin:0;
  display: flex;
}
